@model HelloWorldMVC.Models.Employee

@{
    ViewData["Title"] = "Index";
    var msg = ViewData["message"].ToString();
    TempData.Keep("x");
}

<h1>@ViewBag.Heading</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <h3 style="color:red">Message:@msg</h3>
    <h3>X=@TempData["x"].ToString()</h3>

    @Html.ActionLink("Goto to Sample","Index","Sample")

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ecode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ecode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deptid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deptid)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
